<footer class="container-fluid footer text-center p-3">
    <div class="container-xxl text-center">
        <small>
            Copyright © 2024 - <b>The TUX Dev</b> - <a href="/about" title="About">Chi sono</a><br>
            Questo sito è non ha nessun tipo di tracciamento, non ci sono cookies e non vengono raccolti dati di nessun
            tipo.
            <br>
            Il sito web è completamente open source, puoi trovare il codice sorgente <a
                href="https://github.com/thetuxdev/thetuxdev.github.io" target="_blank" title="GitHub">qui</a>.<br>
            Per informazioni e collaborazioni <a href="mailto:thetuxdev@gmail.com" title="Contattaci">contattaci</a>
        </small>
    </div>
</footer>